# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.mo

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
.env.local
.env.*.local

# Coverage / Testing
.coverage
htmlcov/
.pytest_cache/
